/*****************************
  my resume style
*****************************/



.my_resume {
    .section {
        padding-top: 15px;
        padding-bottom: 30px;
        @include grid-container;
        word-break: initial;
    }

    .box {
        @include grid-column(8);
        @include grid-shift(2);
        margin: 0;
    }
}











.card {
    position: relative;
    background-color: #fff;
    transition: box-shadow .25s;
    -webkit-transition: box-shadow .25s;
    border-radius: 0;
    margin: 0px 0;
}

.card .card-content {
    padding: 40px;
    border-radius: 0;
}

.card .card-content p {
    margin: 0;
    color: inherit;
    text-align: center;
}

.card .card-action {
    border-top: 1px solid rgba(160, 160, 160, .2);
    padding: 20px;
}





#skills-card .card-content {
    position: relative;
    @include grid-container;
}

.skill-card-item {
    @include grid-column(4);
}

.interest-content {
    @include grid-container;
    overflow: hidden;
}

.interest {
    @include grid-column(2, $no-gutters-grid);
}

.section-title {
    padding-bottom: 15px;
}

.section-title h4 {
    font-size: 0px;
    font-weight: 700;
    color: $BLUE-DIANNE;
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.2);
}

.section-title span {
    font-size: modular-scale(3, $base-font-size, $base-font-ratio);
}

.title_icon {
    display: inline-block;
    font-size: inherit;
    width: 66px;
    padding: 10px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    background: $BLUE-DIANNE;
    // margin-right: 10px;
}

.title_icon i {
    color: #fff;
    font-size: modular-scale(3, $base-font-size, $base-font-ratio);
}

.section-title .title_text {
    display: inline-block;
    padding: 10px;
    background: lighten($SUN-FLOWER, 10%);
}


// #v-card-holder,#about{
//     visibility: hidden;
// }
/* v-card style */

.info-headings h6 {
    font-size: 1.4em;
}

#v-card-holder {
    overflow: visible;
    width: 100%;
    height: auto;
    margin-top: -250px;

    .section {
        padding-bottom: 0px;
    }

    #v-card {
        position: relative;
        height: 400px;
        overflow: hidden;
        -webkit-transition: height 1s, color 1s, margin 1s;
        transition: height 1s, color 1s, margin 1s;
        z-index: 1;
        background: $BLUE-DIANNE;

        .card-content {
            width: 60%;
            padding-right: 0px;
        }

        .info-headings {
            h4 {
                font-size: modular-scale(2, $base-font-size, $base-font-ratio);
                display: block;
                width: 100%;
                font-weight: 700;
                color: #fff;
                text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.29);
            }

            h6 {
                display: block;
                width: 100%;
                font-weight: 300;
                margin-bottom: 25px;
                font-size: $base-font-size;
                color: #fff;
                text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.29);
            }
        }

        .infos {
            max-width: 515px;
        }

        .infos .profile-list .title {
            display: block;
            float: left;
            color: #fff;

            i {
                font-size: modular-scale(2, $base-font-size, $base-font-ratio);
                padding: 10px 0px;
            }

            i.fa-map-marker,
            i.fa-skype,
            i.fa-globe {
                font-size: 150%;
                padding: 10px 0px;
            }

            i.fa-envelope {
                font-size: 18px;
            }
        }

        .infos .profile-list .content {
            display: block;
            margin-left: 30px;
            font-size: $base-font-size;
            font-weight: 400;
            line-height: 20px;
            color: #fff;
            text-decoration: none;
            padding: 10px 0px;
        }

        .infos .profile-list a.content:hover {
            color: lighten($SUN-FLOWER, 10%);
        }

        .links {
            max-width: 500px;
            margin-left: -12px;
            margin-top: 12px;
            height: 100%;

            .social {
                margin-left: 12px;
                margin-bottom: 4px;

                i {
                    font-size: $base-font-size;
                    vertical-align: middle;
                    padding-bottom: 15px;
                }
            }
        }

        #profile {
            width: 45%;
            position: absolute;
            right: 0;
            z-index: 1;

            img {
                height: 400px;
                width: auto;
            }

            .slant {
                top: 0;
                z-index: 1;
                position: absolute;
                border-style: solid;
                border-width: 400px 0 0 100px;
                border-color: rgba(223, 50, 50, 0) transparent transparent $BLUE-DIANNE;
            }
        }


    }


}


/* about me style */

#about {
    transition: all 1s;

    .about-btn {
        height: auto;
        margin-right: auto;
        margin-left: auto;
        animation-delay: 1s;
        text-align: center;

        .btn {
            margin: 7px 7px;
            // background: #06A763;
            background: $BLUE-DIANNE;
            color: #fff;
            width: 180px;
            border-radius: 2px;

            &:hover {
                // background: #05985a;
                background: darken($BLUE-DIANNE, 10%);
            }
        }

    }

    #about-card {
        transition: margin 1s;
    }

}




/* timeline style */

#timeline-education {
    position: relative;

    &:before {
        content: '';
        position: absolute;
        top: 0;
        bottom: 23px;
        left: 50%;
        margin-left: -2px;
        height: 77.1%;
        width: 4px;
        opacity: 0.4;
        background: $BLUE-DIANNE;
    }
}

#timeline-experience {
    position: relative;

    &:before {
        content: '';
        position: absolute;
        top: 0;
        bottom: 23px;
        left: 50%;
        margin-left: -2px;
        height: 69.1%;
        width: 4px;
        opacity: 0.4;
        background: $BLUE-DIANNE;
    }

    .timeline-block {
        margin: 0px;
    }
}




.timeline-block {
    position: relative;
    margin: -4em 0;

    &:after {
        clear: both;
        content: "";
        display: table;
    }

    &:first-child {
        margin-top: 0;
    }

    &:last-child {
        margin-bottom: 0;
    }

    .timeline-dot {
        background: $BLUE-DIANNE;
        width: 50px;
        height: 50px;
        left: 50%;
        top: 0;
        border-radius: 100%;
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
        z-index: 2;
        color: #fff;
        text-align: center;
        position: absolute;
        margin-left: -24px;
        -webkit-transform: translateZ(0);
        -webkit-backface-visibility: hidden;

        i {
            text-align: center;
            font-size: modular-scale(2, $base-font-size, $base-font-ratio);
            margin-top: 26%;
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.29);
        }

        h6 {
            color: #fff;
            padding: 0;
            font-size: modular-scale(3, $base-font-size, $base-font-ratio);
            font-weight: bold;
            // margin-top: 8px;
            line-height: 50px;
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.29);
        }
    }


    .timeline-content {
        position: relative;
        background: #fff;
        margin-right: 0;
        z-index: 1;
        margin-bottom: 5px;
        border-left: 5px solid $BLUE-DIANNE;
        width: 44%;

        &:before {
            content: '';
            width: 58px;
            height: 4px;
            position: absolute;
            top: 26px;
            left: 100%;
            z-index: -2;
            opacity: 0.4;
            background: $BLUE-DIANNE;
        }

        &:after {
            clear: both;
            content: "";
            display: table;
        }

        .timeline-title {
            max-width: 100%;
            font-weight: 500;
            font-size: modular-scale(1, $base-font-size, $base-font-ratio);
            margin-bottom: 5px;
        }

        .timeline-info {
            line-height: 1.2;
            font-style: italic;

            span {
                display: block;

                small {
                    color: inherit;
                    font-size: $base-font-size;
                    font-weight: normal;
                }
            }
        }

        .card-content {
            padding: 20px;

            p {
                margin-top: 13px;
                text-align: left;
            }
        }

    }


    .card {
        margin: 0;
    }

    &:nth-child(even) {
        .timeline-content {
            float: right;

            &:before {
                top: 25px;
                left: auto;
                right: 101.2%;
                z-index: -2;
            }
        }
    }

}







/* skill style */
#skills {

    .skills-title {
        margin: 15px 0;

        h6 {
            color: #fff;
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.29);
            font-size: modular-scale(1, $base-font-size, $base-font-ratio);

        }
    }


    .card {
        background: $BLUE-DIANNE;

        .skillbar {
            position: relative;
            display: block;
            margin-bottom: 17px;
            margin-top: 45px;
            width: 100%;
            padding: 0 0;
            background: darken($BLUE-DIANNE, 10%);
            height: 4px;
            -webkit-transition: 0.4s linear;
            transition: 0.4s linear;
            -webkit-transition-property: width, background-color;
            transition-property: width, background-color;

            .skillbar-title {
                position: absolute;
                top: 0;
                left: 0;
                font-size: 1em;

                span {
                    display: block;
                    padding: 3px 0;
                    margin-top: -25px;
                    line-height: 15px;
                    color: #fff;
                }
            }

            .skillbar-bar {
                height: 4px;
                width: 0;
                background: #fff;
            }

            .skill-bar-percent {
                position: absolute;
                right: 1px;
                top: -20px;
                font-size: .8em;
                line-height: 15px;
                color: #fff;
            }
        }
    }

}


#interest.section {
    overflow: hidden;
    padding-bottom: 80px;
}

/* interest style */
#interest {

    .card {
        padding: 0;

        .card-content {
            border-bottom: 1px solid rgba(160, 160, 160, 0.2);
        }

        .interest-content.no-gutters {
            margin-right: 0;
            margin-left: 0;
        }

        .interest {
            height: 105px;

            .interest-icon {
                display: block;
                color: #fff;
                background: $BLUE-DIANNE;
                height: 105px;

                i {
                    font-size: 2.2em;
                    margin-top: 29px;
                }

                span {
                    display: block;
                }
            }

            .interest-icon-even {
                display: block;
                color: $BLUE-DIANNE;
                height: 105px;
                margin-right: -1px;

                i {
                    font-size: 2.2em;
                    margin-top: 29px;
                }

                span {
                    display: block;
                }
            }
        }
    }
}


@media screen and (min-width:540px) and (max-width:766px) {
    #interest .card .interest {
        max-width: 33.33333333%;
    }
}

//
//#education .box,
//#skills .box,
//#experience .box {
//    transition: margin 1s;
//    visibility: hidden;
//}

#about.section {
    padding-top: 0px;
}

/* anylize where it's fit */

.box {
    transition: margin-left 0.3s ease-in-out;
}

.box.margin-left40 {
    margin-left: 40px;
    transition: margin-left 0.3s ease-in-out;
}
