<aside>
  <a class="menu_toggle" href="#">
    <div id="nav-icon3">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
  </a>
  <nav class="navigation">
    <div id="logo">
      <img src="{{site.baseurl}}/assets/images/logo2.svg" alt="">
    </div>
    <ul>
      <li><a href="{{site.baseurl}}/">Home</a></li>
      <li><a href="{{site.baseurl}}/feature_project.html">Portfolio</a></li>
      <li><a href="{{site.baseurl}}/blog/">Blog</a></li>
      <li><a href="{{site.baseurl}}/archives/">Archives</a></li>
      <li><a href="{{site.baseurl}}/about_me.html">About Me</a></li>
      <li><a href="{{site.baseurl}}/contact-me.html">Contact Me</a></li>
    </ul>
  </nav>
</aside>
