<div class="widget widget_about">
  <div class="profile_image">
    <a href="{{site.baseurl}}/about_me.html">
      <img src="/assets/images/profile-picture2.jpg" alt="profile"></a>
  </div>
  <div class="widget_inner">
    <p>Hello! I’m Md. Mahafuzur Rahaman. <span class="mark">Web Designer & Web Developer</span> with over 1 years of experience specializing in <span class="mark">front end development</span>. Experienced with all stages of the development cycle for dynamic web projects.Having an in-depth
      knowledge including advanced <span class="mark">HTML5</span>, <span class="mark">CSS</span>, <span class="mark">CSS3</span>, <span class="mark">SASS</span>, <span class="mark">JavaScript</span>, <span class="mark">JQuery</span>, <span class="mark">WordPress</span>. Strong background in management and leadership.</p>
    <div class="links">
        <!-- FACEBOOK-->
        <a href="https://www.facebook.com/mahafuzur.rahaman.monir" id="first_one" class="social btn-floating indigo text-center">
            <i class="fa fa-facebook"></i>
        </a>
        <!-- TWITTER-->
        <a href="https://twitter.com/MahafuzurRaham3" class="social  btn-floating blue text-center">
            <i class="fa fa-twitter"></i>
        </a>
        <!-- GOOGLE+-->
        <a href="https://plus.google.com/110325267982348655370" class="social  btn-floating red text-center">
            <i class="fa fa-google-plus"></i>
        </a>
        <!-- LINKEDIN-->
        <a href="#" class="social  btn-floating blue darken-3 text-center">
            <i class="fa fa-linkedin"></i>
        </a>
    </div>

  </div>
</div>
