code {
   font-size: 1.2rem;
   white-space: pre;
   font-family: monospace;
   background: #eee;
   color: #333;
   border-radius: 0.3125em;
   padding: 0.2em 0.3em;
   // vertical-align: 5px;
 }

 pre {
   font-size: 1.2rem;
   white-space: pre;
   color: #222;
   border-radius: 0.3125em;
   padding: 1em;
   margin-bottom: 1.5rem;
   background: #333;
   background-image: linear-gradient(#444 50%, transparent 0);
   background-size: auto 3em;
   background-origin: content-box;
   font-family: Consolas, Monaco, monospace;
 }

 pre code {
   white-space: -moz-pre-wrap;
   white-space: pre-wrap;
   word-wrap: normal;
   background: transparent;
   page-break-inside: avoid;
 }

 .hljs {
   background: transparent !important;
   padding: 0 !important;
 }
