/*****************************
  project box  style
*****************************/

.feature_project {
  @include grid-container;
}

.projects {
  width: 100%;
  top: 15%;
  @include grid-column(8);
  @include grid-shift(2);
  margin: 0;
  z-index: 5;
  overflow: hidden;
  .project_image {
    width: 100%;
    @include grid-container;
    background: rgba($BLUE-DIANNE, 0.8);
    overflow: hidden;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-top: 20px;
  }
  .item-hover a {
    display: block;
    &:hover {
      text-decoration: none;
    }
  }
  .item-hover img {
    width: 100%;
    height: 100%;
    display: block;
  }
  .item-hover.square {
    position: relative;
    @include grid-column(3);
    margin-bottom: 20px;
    overflow: hidden;
    transform: translateY(1000%);
    animation: slide_from_bottom 1s ease-in-out;
    animation-fill-mode: forwards;
  }
  @for $i from 1 through $total-number-of-project {
    .item-hover.square:nth-child(#{$i}) {
      animation-delay: 0.5 + ($i * 0.2s);
    }
  }
  .item-hover.square.margin-0 {
    margin-left: 0;
  }
  .item-hover.square .img {
    position: relative;
    vertical-align: middle;
    max-width: 100%;
    max-height: 165px;
    min-height: 165px;
    background: #fff;
    overflow: hidden;
  }
  .item-hover.square .info:before,
  .item-hover.square .img:before {
    position: absolute;
    display: block;
    content: '';
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    box-shadow: inset 0 0 0 10px rgba(255, 255, 255, 0.6), 0 1px 2px rgba(0, 0, 0, 0.3);
  }
  .item-hover.square .info {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    padding: 20px 10px;
    text-align: center;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    z-index: 3;
  }
  .item-hover.square.effect .info {
    background: lighten($SUN-FLOWER, 10%);
    pointer-events: none;
    opacity: 1;
    transition: all 0.35s ease-in-out;
  }
  .item-hover.square.effect .info h4 {
    text-transform: uppercase;
    position: relative;
    letter-spacing: 2px;
    font-size: modular-scale(1, $base-font-size, $base-font-ratio);
    margin: 10px 0px;
    word-break: initial;
    transform: translateX(200%);
    transition: transform 0.3s ease-in-out;
    transition-delay: 0.36s;
  }
  .item-hover.square.effect .info p {
    padding: 10px 0px;
    font-style: italic;
    border-top: 1px solid rgba(0, 0, 0, 0.5);
    transform: translateX(-200%);
    word-spacing: 2px;
    transition: transform 0.3s ease-in-out;
    transition-delay: 0.37s;
  }
  .item-hover.square.effect .img {
    z-index: 10;
    transition: all 0.35s ease-in-out;
  }
  /* Left to right effect */
  .item-hover.square.effect:nth-child(odd) .img {
    transform: translateX(0);
  }
  .item-hover.square.effect:nth-child(odd) .info {
    transform: translateX(-100%);
  }
  .item-hover.square.effect:nth-child(odd) a:hover .img {
    transform: translateX(100%);
  }
  .item-hover.square.effect:nth-child(odd) a:hover .info {
    transform: translateX(0);
  }
  .item-hover.square.effect:nth-child(odd) a:hover .info > * {
    transform: translateX(0);
  }
  /* Right to Left effect */
  .item-hover.square.effect:nth-child(even) .img {
    transform: translateX(0);
  }
  .item-hover.square.effect:nth-child(even) .info {
    transform: translateX(100%);
  }
  .item-hover.square.effect:nth-child(even) a:hover .img {
    transform: translateX(-100%);
  }
  .item-hover.square.effect:nth-child(even) a:hover .info {
    transform: translateX(0);
  }
  .item-hover.square.effect:nth-child(even) a:hover .info > * {
    transform: translateX(0);
  }
  .item-hover.all_project_button {
    display: block;
    background: lighten($SUN-FLOWER, 10%);
    text-align: center;
  }
  .item-hover.square.all_project_button .img {
    background: transparent;
  }
  .item-hover.all_project_button h4 {
    margin-top: 25%;
    font-size: modular-scale(2, $base-font-size, $base-font-ratio);
  }
  .item-hover.all_project_button a {
    color: $BLUE-DIANNE;
    text-transform: uppercase;
    text-decoration: none;
    font-size: $base-font-size;
    word-break: initial;
  }
  .item-hover.square.all_project_button .info:after {
    position: absolute;
    display: block;
    content: '';
    width: 100%;
    height: 100%;
    background: rgba(250, 250, 250, 0.5);
    transform: skewX(45deg) translateX(200%);
    z-index: 1000;
    top: 0;
    transition: transform 0.3s ease-in-out;
  }
  .item-hover.square.all_project_button a:hover .info:after {
    transform: translateX(-200%);
  }
  .feature_project_heading {
    overflow: hidden;
    @include grid-column(12);
    margin-left: 0;
    padding-left: 20px;
    width: 100%;
    font-weight: 500;
    font-size: modular-scale(3, $base-font-size, $base-font-ratio);
    text-transform: uppercase;
    text-rendering: optimizeLegibility;
    text-align: center;
  }
  .feature_project_heading {
    color: lighten($SUN-FLOWER, 40%);
    background-color: lighten($SUN-FLOWER, 10%);
    letter-spacing: .1em;
    text-shadow: -1px -1px 1px darken($SUN-FLOWER, 10%), 2px 2px 1px lighten($SUN-FLOWER, 5%);
  }
  .all_project_button .img {
    background: transparent;
  }
}
