/*****************************
  Site variable
*****************************/
// google font name variable 
$BodyFont: 'Raleway';
$HeadingFont: 'Roboto';

// google font weight
$BodyFont_weight: "300, 400, 500";
$HeadingFont_weight: "300, 400";


// google font family stack
$body-font: $BodyFont, sans-serif;
$heading-font: $HeadingFont, sans-serif;


// all color variable
$black: #000;
$white: #fff;
$base-font-color: #333333;
$base-color-bg: #fcfcfc;
$BLUE-DIANNE: #204b57;
$CLOUDS: #ecf0f1;
$SUN-FLOWER: #f1c40f;

// font -size variable
$base-font-size: 15px;
$base-font-ratio: 1.333;

// - line height
$base-line-height: 1.5;


// - gradient

// project variable
$total-number-of-project: 20;




